.env
*.pyc
__pycache__/
instance/
venv/
.DS_Store
node_modules/
dist/
backend/pokeDay/img_upload/
backend/pokeDay/data_gen/pokemon_data.json
backend/pokeDay/data_gen/pokemon_cleaned.json
backend/pokeDay/data_gen/pokemon_shiny_webp_images
backend/pokeDay/data_gen/pokemon_webp_images
.venv